body {
    line-height: 1.5;
    margin: 0;
    text-align: left;
    background-color: #f9f9f9;
    font-size: 1rem;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    color: #32325d;
}

.h1,
h1 {
    font-size: 1.625rem;
}

.h2,
h2 {
    font-size: 1.25rem;
}

.h3,
h3 {
    font-size: 1.0625rem;
}

.h4,
h4 {
    font-size: .9375rem;
}

.h5,
h5 {
    font-size: .8125rem;
}

.h6,
h6 {
    font-size: .625rem;
}

.display-1,
.display-2 {
    font-weight: 600;
    line-height: 1.5;
}

.display-3,
.display-4 {
    font-weight: 600;
    line-height: 1.5;
}

.display-1 {
    font-size: 3.3rem;
}

.display-2 {
    font-size: 2.75rem;
}

.display-3 {
    font-size: 2.1875rem;
}

.display-4 {
    font-size: 1.6275rem;
}
a {
    cursor: pointer;
}
.shadow {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}


.lead,
p {
    font-weight: 300;
    line-height: 1.7;
}



.mb-0 {
    margin-bottom: 0;
}

.mt--60 {
    margin-top: -100px;
}

a,
a:hover {
    text-decoration: none;

}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}



#sidebar {
    width: 250px;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    background-color: #fff;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .closeBtn {
    top: 0;
    right: 3px;
    position: absolute;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

#sidebar .closeBtn,
#sidebar .closeBtn:hover {
    color: #17B83D;
}

.sidebar-brand {
    padding: 20px;
}

.sidebar-brand h1 {
    color: #17B83D;
}

.sidebar-menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
}

.sidebar-menu li a {
    position: relative;
}

.sidebar-menu li a.sidebar-menu-link {
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    color: #666666;

}

.sidebar-menu li.sub-menu-item a.sidebar-menu-link {
    padding: 10px 20px 10px 50px;
    font-size: 14px;
    font-weight: 400;
}

.sidebar-menu li.menu-item.active>a.sidebar-menu-link {
    background-color: #f6f9fc;
    border-left: 3px solid #17B83D;
    color: #17B83D;
}

.sidebar-menu li.sub-menu-item.active a {
    color: #17B83D;

}

.sidebar-menu li.menu-item a.sidebar-menu-link:hover {
    border-left: 3px solid #17B83D;
    color: #17B83D;
}

.sidebar-menu li a .icon-brand {
    margin-right: 5px;
}

.sidebar-menu li a .multi-level-menu {
    position: absolute;
    right: 10px;
    line-height: 1.8;
}

.sidebar-menu ul.sub-menu {
    display: none;
    transition: 2s;
}

.sidebar-menu li.menu-open ul.sub-menu {
    display: block;
    transition: 2s;


}

.sidebar-menu li.menu-open a .multi-level-menu {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.sidebar-menu .sub-menu {
    /* background-color: #f6f9fc; */
    background-color: #f9f9f9;

}











#main-content {
    margin-left: 250px;
    background-color: #e4e4e4;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#main-content.active {
    margin-left: 0;
}


.navbar,
.content-header {
    background-color: #17B83D;
    /* background-image: linear-gradient(to right top, #17b83d, #3fc158, #5bca70, #73d387, #8adb9d); */
    /* background: linear-gradient(87deg, #17B83D, #3fc158) !important; */

}

.navbar {
    /* background: linear-gradient(87deg, #17B83D, #009417) !important; */
    /* background: linear-gradient(87deg, #3fc158, #3fc158) !important; */


    padding: 1rem 1rem;
    /* border-bottom: 1px solid #fff; */
}

.navbar .bar {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu .menu-item {
    margin-left: 20px;
}

.search-box {
    display: inline-block;
}

.search-box .form-group {
    margin-bottom: 0;
}

.has-search {
    position: relative;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    text-align: center;
    pointer-events: none;
    color: #fff;
    right: 15px;
    top: 12px;
    font-size: 20px;
}

.search-box .form-control {
    border-radius: 2rem;
    max-width: 400px;
    border: 1px solid;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    width: 300px;
}

.search-box .form-control::placeholder {
    color: #e4e4e4;
}

.search-box button {
    display: none;
}

.avatar-wrapper {
    display: flex;
    align-items: center;
}


.avatar-img-wrapper {
    color: #fff;
    background-color: #adb5bd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: .875rem;
    border-radius: 50%;
}

.avatar-img-wrapper img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;

}


/* Dropdown Button */
.dropbtn {
    /* background-color: #04AA6D; */
    color: white;
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /* position: relative; */
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #666666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f6f9fc;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dashboard-icon-wrapper {
    padding: 12px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
}

.bg-gradient-red {
    background: linear-gradient(87deg, #f5365c, #f56036) !important;
}

.bg-gradient-orange {
    background: linear-gradient(87deg, #fb6340, #fbb140) !important;
}

.bg-gradient-green {
    background: linear-gradient(87deg, #2dce89, #2dcecc) !important;
}

.bg-gradient-info {
    background: linear-gradient(87deg, #11cdef, #1171ef) !important;
}

.content-header {
    padding-bottom: 130px;
}

.content-header-body {
    padding-left: 20px;
    padding-right: 20px;
}


.content-header-body>.row {
    padding-bottom: 40px;
}

.card {
    margin-bottom: 10px;
    border: 0;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}

.content-header .card-body {
    padding: 25px 20px;
}

.content-body {
    padding: 0 20px;
}

.content-wrapper {
    padding-bottom: 40px;
}

.content-body .card-header {
    background: #fff;
}

.card-footer {
    padding: 1.25rem 1.5rem;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

/* Profile Image */
.profile-image-wrapper {
    position: relative;
    margin-bottom: 40%;
}

.profile-image-wrapper img {
    max-width: 180px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20%);
}

/* End Profile Image */


/* Form Inputs */

.form-control {
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    line-height: 2;
    /* box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%); */
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    transition: box-shadow .15s ease;
}

.form-control:focus {
    color: #495057;
    border: 1px solid #17B83D;
    background-color: #f9f9f9;
    outline: 0;
    line-height: 2;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

select.form-control {
    cursor: pointer;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 10px);
}

/* checkbox and radio*/
.form-check {
    padding-left: 0;
}

.form-check-inline {
    display: inline-block;
    position: relative;
}

.form-check-inline .form-check-input {
    position: absolute;
}

input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    opacity: 0;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

/* CheckBox's Box */
input[type="checkbox"]+label:before,
input[type="radio"]+label:before {
    content: '';
    margin-right: 6px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #f9f9f9;
    border: 1px solid #e4e4e4;
}

/* Radio Button */
input[type="radio"]+label:before {
    border-radius: 50%;
}


input[type="checkbox"]:hover+label:before,
input[type="radio"]:hover+label:before {
    background: #e4e4e4;
    border: 1px solid #e4e4e4;
}

/* Checkbox Checked Color */
input[type="checkbox"]:checked+label:before {
    background: #17B83D;
}

/* Radio Button Check */
input[type="radio"]:checked+label:before {
    border-color: #17B83D;
}

/* CheckMark */
input[type="checkbox"]:checked+label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
    transform: rotate(45deg);
}

input[type="radio"]:checked+label:after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    background: #17B83D;
    border-color: #17B83D;
}

/* Disable State Label */
input[type="checkbox"]:disabled+label,
input[type="radio"]:disabled+label {
    color: #b8b8b8;
    cursor: not-allowed;
}

/* Disable Box */
input[type="checkbox"]:disabled+label:before,
input[type="radio"]:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}

/* Toggle Checkbox*/
.toggle-slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background: #e4e4e4;
    border: 1px solid #e4e4e4;
}

.toggle-slider.round {
    border-radius: 34px;
}

.toggle-slider.small {
    width: 40px;
    height: 24px;
}


.toggle-checkbox input[type="checkbox"]+label:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    margin-right: unset;
    display: unset;
    vertical-align: unset;
    background: #fff;
    border: 1px solid #fff;

}

.toggle-checkbox input[type="checkbox"]+label.small:before {
    height: 15px;
    width: 16px;
    left: 2px;
}

.toggle-checkbox input[type="checkbox"]+label.round:before {
    border-radius: 50%;
}

.toggle-checkbox input[type="checkbox"]:checked+label.toggle-slider {
    background: #17B83D;
    border: 1px solid #17B83d;
}


.toggle-checkbox input[type="checkbox"]:checked+label:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggle-checkbox input[type="checkbox"]:checked+label.small:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}


.toggle-checkbox input[type="checkbox"]:checked+label:after {
    content: unset;
}



/* End Form Input */




/* Buttons */
button:focus {
    outline: none;
    border: none;
}

.btn {
    padding: 10px 25px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-shadow: 0 10px 20px -6px rgb(0 0 0 / 12%);
    -moz-box-shadow: 0 10px 20px -6px rgba(0, 0, 0, .12);
    box-shadow: 0 10px 20px -6px rgb(0 0 0 / 12%);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.btn.btn-primary {
    background: #17B83D;
    border-color: #17B83D;
    color: #fff;
}

.btn.btn.btn-primary:hover {
    background: #0d6e24;
    border-color: #0d6e24;
}

.btn.btn-outline-primary {
    color: #17B83D;
    border-color: #17B83D;
}

.btn.btn-outline-primary:hover {
    color: #fff;
    background: #17B83D;
    border-color: #17B83D;

}

.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background: #17B83D;
    border-color: #17B83D;
}

.btn.btn-secondary {
    background: #1742B8;
    border-color: #1742B8;
    color: #fff;
}

.btn.btn-secondary:hover {
    background: #163ca6;
    border-color: #163ca6;
}

.btn.btn-outline-secondary {
    color: #1742B8;
    border-color: #1742B8;
}

.btn.btn-outline-secondary:hover {
    color: #fff;
    background: #1742B8;
    border-color: #1742B8;

}

.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background: #1742B8;
    border-color: #1742B8;
}

.btn.btn-danger {
    background: #d03940;
    border-color: #d03940;
    color: #fff;
}

.btn.btn-danger:hover {
    background: #7d2226;
    border-color: #7d2226;
}

.btn.btn-outline-danger {
    color: #d03940;
    border-color: #d03940;
}

.btn.btn-outline-danger:hover {
    color: #fff;
    background: #d03940;
    border-color: #d03940;

}

.btn.btn-subtle {
    background: #e4e4e4;
    border-color: #e4e4e4;
    color: #333333;
}

.btn.btn-subtle:hover {
    background: #cbcbcb;
    border-color: #cbcbcb;

}

.btn.btn-outline-subtle {
    color: #333333;
    border-color: #cbcbcb;
    background: #fff;
}

.btn.btn-outline-subtle:hover {
    background: #e4e4e4;
    border-color: #e4e4e4;
}

.btn.btn-round {
    border-radius: 40px;
}

.btn-sm {
    padding: 6px 12px;
    font-size: 12px;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn .fas, .btn .fa ,.btn .svg-inline--fa{
    margin-right: 4px;
}

.btn.btn-circle {
    padding: 12px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.btn.btn-sm.btn-circle {
    padding: 6px;
}

.btn.btn.btn-circle .fas,  .btn.btn.btn-circle .fa  ,.btn.btn-circle .svg-inline--fa {
    margin-right: 0;
}

.btn:focus {
    box-shadow: unset !important;
    border-style: solid;
    border-width: 1px;
}

.dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0 10px 34px -20px rgb(0 0 0 / 41%);
    -moz-box-shadow: 0 10px 34px -20px rgba(0, 0, 0, .41);
    box-shadow: 0 10px 34px -20px rgb(0 0 0 / 41%);

    box-shadow: 0px 8px 16px 0px rgb
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    color: rgba(0, 0, 0, .7);
    font-weight: 400;
    padding: 10px;
}

.btn.btn-lg {
    padding: 17px 24px;
    font-size: 16px;
}

/* End Buttons */


/* Tables */
.table td,
.table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
    font-size: 14px;
    white-space: nowrap;
}

.table .thead-light th {
    background-color: #f6f9fc;
    color: #8898aa;
    border-bottom: 1px solid #e9ecef;
    border-top: 1px solid #e9ecef;

}

.table.align-items-center td,
.table.align-items-center th {
    vertical-align: middle;
}

.table .thead-light th {
    border-color: #e9ecef;
}

.table thead th {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #e9ecef;
}

.card .table td,
.card .table th {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/*End Tables */


/* Table Pagination */

.page-item .page-link,
.page-item span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 3px;
    border-radius: 50% !important;
    width: 36px;
    height: 36px;
    font-size: .875rem;
}

.page-item.disabled .page-link {
    color: #8898aa;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #17B83D;
    border-color: #17B83D;
}

.page-item.active .page-link:hover {
    color: #fff;
}

.page-item.active .page-link {
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

/* End Table Pagination */


/* Footer */
.footer {
    padding: 20px 20px;
    background: #f9f9f9;

}

.footer .footer-wrapper .fas, .footer .footer-wrapper .fa,.footer .footer-wrapper .svg-inline--fa{
    color: red;
}

.footer .footer-wrapper span {
    font-weight: 500;
    color: #6c757d;
}

/* End Footer */


/* Badges */
.badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: unset;
}

.bg-primary {
    background-color: #17B83D !important;
    border: 1px solid #17B83D;
}

.bg-outline-primary {
    color: #17B83D;
    background-color: #fff !important;
    border: 1px solid #17B83D;
}

.bg-secondary {
    background-color: #1742B8 !important;
    border: 1px solid #1742B8;
}

.bg-outline-secondary {
    background-color: #fff !important;
    border: 1px solid #1742B8;
    color: #1742B8;
}

.bg-danger {
    background-color: #d03940 !important;
    border: 1px solid #d03940;
}

.bg-outline-danger {
    background-color: #fff !important;
    border: 1px solid #d03940;
    color: #d03940;
}

/* End Badges */


/* Login  */
.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(87deg, #2dce89, #2dcecc) !important;
    width: 100%;
    height: 100%;
    position: absolute;

}

.login-wrapper .card .card-header {
    background: #fff;
    border: 1px solid #fff;
}

.login-wrapper .card .card-header {
    align-items: center;
    text-align: center;

}

.login-wrapper .card .card-header h1 {
    color: #2dce89;
    font-weight: 400;
}

.login-wrapper .card {
    width: 100%;
    max-width: 350px;
}

.login-wrapper .card .btn {
    width: 100%;
    margin-top: 20px;
}

/* End  Login  */


/* Notification  */
.notification-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: 350px;
    padding: 10px 20px 10px 10px;
}

.notification-bar {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    margin: 10px 0;
}

.notification-bar .notification-close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #f9f9f9;
}

.notification-bar .notification-close:hover {
    color: #fff;
    cursor: pointer;
}

.notification-bar h4 {
    color: #fff;
    font-weight: 400;
}

.notification-bar p {
    margin-bottom: 10px;
    font-weight: 500;
}

.notification-bar.success {
    background: #17B83D;
    border: 1px solid #0B5C1E;
    border-left: 5px solid #0B5C1E;
}

.notification-bar.info {
    background: #1742B8;
    border-left: 5px solid#0D276E;
}

.notification-bar.error {
    background: #d03940;
    border-left: 5px solid #7D2226;
}

.notification-bar.warning {
    background: #ffb648;
    border-left: 5px solid #CC9139;
}

/* End Notification */